body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}

.navbar {
    background-color: #85b5f3;
}

.navbar-brand {
    font-family: 'Oxygen', sans-serif;
    color: #3e4d7c;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    line-height: .75;
}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #2262ab; 
    background-color: #f8f9fa; 
}
/* end header */

/* Main */
#main-title {
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
}

.title-description {
    background-color: beige;
}
.title-description span {
    font-weight: bold;
    font-size: 1.3em;
}

/**********X Large devices only **********/
@media (min-width: 1200px) {
   
  }
  
  
  /********** Llarge devices only **********/
  @media (min-width: 992px)  {
    
  }
  
  
  /********** Midium devices only **********/
  @media (min-width: 768px) {
   
  }
  
  /********** Small devices only **********/
  @media (min-width: 576px) {
  
}